h1 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.2;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }