h1 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.2;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header { 
  background-image: url(/css/main.css/Smoothimage.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}