h1 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.2;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
  }

.Centered {
    transform: translate(50%, 50%);
}

img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }