<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>HANGMAN_WEB</title>

</head>

<body>
    <div class="container">
        <img class="bureau" src="css/image/Menu.jpg" ;>
        <!-- <h1>dcfdfes</h1> -->

        <nav class="navbar_index">


            <ul class="navlinks_index">
                <li><a href="http://localhost:3000/hangman" class="logo_index">
                        <p style="font-family:chalktastic"> Play </p>
                    </a></li>
                <li><a href="#">
                        <p style="font-family:chalktastic"> About </p>
                    </a></li>
                <li><a href="#">
                        <p style="font-family:chalktastic"> Exit </p>
                    </a></li>
            </ul>
        </nav>
    </div>



</body>

</html>