<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>HANGMAN_WEB</title>

</head>

<body>
    <header>
        <img src="css/image/tableaucraie.jpg">
    </header>
    <nav class="navbar.index">
        <div class="navbar_side">
            <ul class="navbar_items.index">

                <li class="navbar_items.index"> <button class="button.index"> <a href="http://localhost:3000/hangman"> Hangman </a>
                    </button> </li>
                <li class="navbar_items.index"> <button class="button.index"> Settings </button> </li>
                <li class="navbar_items.index"> <button class="button.index"> About </button> </li>
                <li class="navbar_items.index"> <button class="button.index"> Exit </button> </li>
                <li class="navbar_items.index"> <button class="button.index"> <a href="http://localhost:3000/hangman">
                            <p style="font-family:chalktastic"> Hangman </p>
                        </a> </button> </li>
                <li class="navbar_items.index"> <button class="button.index">
                        <p style="font-family:chalktastic"> Settings </p>
                    </button> </li>
                <li class="navbar_items.index"> <button class="button.index">
                        <p style="font-family:chalktastic"> About </p>
                    </button> </li>
                <li class="navbar_items.inde*"> <button class="button.index">
                        <p style="font-family:chalktastic"> Exit </p>
                    </button> </li>

            </ul>
        </div>
    </nav>
</body>

</html>